<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gmail Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9f77">  <td>17/09/29 15:08:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.register1()[pri:0, instance:com.srikar.testNG01.Flipkart@5dfcfece]">register1</td> 
  <td>TestNG-test=Flipkart-2@2052331060</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/29 15:08:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.register()[pri:0, instance:com.srikar.testNG01.Flipkart@5dfcfece]">register</td> 
  <td>TestNG-test=Flipkart-1@1666823290</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/29 15:08:58</td>   <td>14763</td> <td>&nbsp;</td><td title="&lt;&lt;Flipkart.terminateBrowser()[pri:0, instance:com.srikar.testNG01.Flipkart@5dfcfece]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
</table>
