<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Websites Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9f77">  <td>17/09/29 17:07:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.openAmazon()[pri:0, instance:com.srikar.testNG01.Flipkart@5ae9a829]">openAmazon</td> 
  <td>TestNG-test=Flipkart-1@1088566211</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/29 17:07:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.openWalmart()[pri:0, instance:com.srikar.testNG01.Flipkart@5ae9a829]">openWalmart</td> 
  <td>TestNG-test=Flipkart-5@1270836895</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/29 17:07:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.openGitHubMozilla()[pri:0, instance:com.srikar.testNG01.Flipkart@5ae9a829]">openGitHubMozilla</td> 
  <td>TestNG-test=Flipkart-3@1875255387</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/29 17:07:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.openMedium()[pri:0, instance:com.srikar.testNG01.Flipkart@5ae9a829]">openMedium</td> 
  <td>TestNG-test=Flipkart-4@1501703946</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>17/09/29 17:07:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.openBestBuyIE()[pri:0, instance:com.srikar.testNG01.Flipkart@5ae9a829]">openBestBuyIE</td> 
  <td>TestNG-test=Flipkart-2@1355958731</td>   <td></td> </tr>
</table>
