<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>17/10/03 15:23:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.testFoo(com.srikar.testNG01.Data)[pri:0, instance:com.srikar.testNG01.Flipkart@3e6fa38a]">testFoo</td> 
  <td>TestNG-PoolService-1@1546247303</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/10/03 15:23:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.testFoo(com.srikar.testNG01.Data)[pri:0, instance:com.srikar.testNG01.Flipkart@3e6fa38a]">testFoo</td> 
  <td>TestNG-PoolService-1@1546247303</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/10/03 15:23:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.testFoo(com.srikar.testNG01.Data)[pri:0, instance:com.srikar.testNG01.Flipkart@3e6fa38a]">testFoo</td> 
  <td>TestNG-PoolService-1@1546247303</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/10/03 15:23:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkart.testFoo(com.srikar.testNG01.Data)[pri:0, instance:com.srikar.testNG01.Flipkart@3e6fa38a]">testFoo</td> 
  <td>TestNG-PoolService-1@1546247303</td>   <td></td> </tr>
</table>
